.header{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 20px;
}
.header__link{
    text-decoration: none;
    color: #000
}
.header__link_active{
    text-decoration: none;
    color: #156a02;
}
.header__link:hover{
    color: #198900;
}
